@import "reset.less";

/* Colours
--------------------------------------------------*/
@black: #1b2e26;
@white: #fff;

@heading: #11c175;
@heading_light: #3e5048;

@body: #87807b;

@light: #e3f3ec;

@link: #0089e0;
@link_hover: #004c9a;

@important: #e80042;


/* Containers
--------------------------------------------------*/
#wrapper{
	width: 100%;
	max-width: 30em;
	margin: 2em auto;
}

section{
	margin: 0 0 1.667em; // 30px
	padding: 0 0 1.667em; // 30px
	border-bottom: dotted 1px @light;
}


/* Header */
header nav ul{
	margin: 0;
	padding: 1.667em 0;
	border-bottom: solid 1px @light;
}

header nav ul li{
	display: inline-block;
	margin: 0 1.667em 0 0; // 30px
}

header nav ul li:last-child{ margin: 0; }

header nav ul li a{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 900;
	text-decoration: none;
}


/* Footer */
footer{
	font-size: 0.778em; // 14px
}



/* Lists
--------------------------------------------------*/
ul, ol{
	display: block;
	margin: 0 0.833em 1.667em; // 30px / 15px
	list-style: square;
}

ol{ list-style: decimal; }

ul li, ol li{
	margin: 0.833em; // 15px
}




/* Forms
--------------------------------------------------*/
form ol{
	margin: .833em 0; // 15px
	list-style: none;
}

form ol li{
	margin: 0.833em 0; // 15px
}

form label{
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.778em; // 14px
	font-weight: 900;
	color: @heading_light;
	text-transform: uppercase;
}

form .req{ color: @important; }

form label .req{ margin-right: .833em; }

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="tel"], 
input[type="url"], 
input[type="search"], 
input[type="number"], 
textarea,
select{
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em; // 18px
	color: @body;
	padding: .556em; // 10px
	border: solid 1px @light;
	border-radius: 4px;
	outline: none; // remove safari & chrome outer glow
	box-sizing: border-box;
	width: 100%;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="number"]:focus, 
textarea:focus,
select:focus{
	border-color: @heading_light;
}

textarea{ min-height: 8em; }

input[type="submit"]{
	padding: .556em; // 10px
	font-size: 1em; // 18px
	color: @white;
	background: @heading;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover{
	background: @black;
}



/* Typography
--------------------------------------------------*/
html{ font-size: 100%; } // Set font size to browser default (16px)

body{
	font-family: Georgia, serif;
	font-size: 1.125em; // 18px
	line-height: 1.667em; // 30px
	color: @body;
}


/* Links */
a{ color: @link; }

a:hover{ color: @link_hover; }

a:active{
	background: @light;
	color: @link_hover;
}


/* Headings */
h1, h2, h3, h4, h5, h6{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: @heading;
}

h1{
	color: @black;
	font-size: 2.667em; // 48px
	line-height: 1.250em; // 60px
	margin: 0 0 .625em; // 30px
}

h2{
	font-size: 2.000em; // 36px
	line-height: 1.250em; // 45px
	margin:  .625em 0; // 30px
}

h3{
	color: @heading_light;
	font-size: 1.333em; // 24px
}

h4{
	font-size: 1em; // 18px
}


/* Standard text */
p, li{
	margin: 0 0 .833em; // 15px
}


/* Blockquotes */
blockquote{
	padding: 1.667em;
	background: @black;
	color: @white;
}

blockquote p:last-child{
	margin: 0;
}

blockquote cite{
	display: block;
	text-align: right;
	font-size: 0.778em;
	color: @heading;
}